---
import { Button } from "@/components/ui/button";
import Package2Icon from "@/components/icons/Package2Icon.astro";

const { title = "Header" } = Astro.props as { title: string };
---

<header
  class="flex h-14 items-center gap-4 border-b bg-gray-100/40 px-6 dark:bg-gray-800/40 lg:h-[50px]"
>
  <a class="lg:hidden" href="/">
    <Package2Icon class="h-6 w-6" />
    <span class="sr-only">Home</span>
  </a>
  <h1 class="text-lg font-semibold md:text-2xl">{title}</h1>
  <a class="ml-auto" href="/login">
    <Button size="sm" variant="outline"> Login </Button>
  </a>
</header>
