---
import Layout from "../layouts/Layout.astro";
import SWRWrapper from "../components/SWRWrapper";
---

<Layout title="Welcome to Astro.">
  <main>
    <SWRWrapper client:load />
  </main>
</Layout>
